<div id="info" align="center">
  <div style="width: 60%;" align="left">
    <div class="well">
      <h3 id="delivery_method"><%= t("client.delivery_method") %></h3>
      <hr/>
      <p><%= @settei.delivery_method.html_safe %></p>
    </div>

    <div class="well">
      <h3 id="pay_at_delivery"><%= t("client.pay_at_delivery") %></h3>
      <hr/>
      <p><%= @settei.payment_at_delivery.html_safe %></p>
    </div>

    <div class="well">
      <h3 id="pay_bank_transfer"><%= t("client.pay_bank_transfer") %></h3>
      <hr/>
      <p><%= @settei.payment_bank_transfer.html_safe %></p>
    </div>

    <div class="well">
      <h3 id="pay_vtc"><%= t("client.pay_vtc") %></h3>
      <hr/>
      <p><%= @settei.payment_vtc_pay.html_safe %></p>
    </div>

    <div class="well">
      <h3 id="steps_desc"><%= t("client.steps_desc") %></h3>
      <hr/>
      <p><%= @settei.steps_desc.html_safe %></p>
    </div>
  </div>
</div>